.autumn {
    background-image: url('/Assets/Themed-backgrounds/Autumn/CC\ Entrance\ Background-Autumn.jpg');
    color: #401a08;
}

.autumn #banner {
    background-color: rgba(23, 5, 0, 0.8);
}

/* * HOMEPAGE CSS */
.autumn .theme-nav {
    color: #C63D2F;
    border-color: #C63D2F;
}

.autumn .button {
    border: 1px solid #402108;
    color: #C63D2F;
}

.autumn .btn1:hover {
    background-color: #120840;
    color: white;
}


.autumn .btn2:hover {
    background-color: #C63D2F   ;
    color: white;
}

.autumn .btn3:hover {
    background-color: #F4E869;
    color: white;
}

.autumn .btn4:hover:hover {
    background-color: #434242;
    color: white;
}

.autumn .btn5:hover {
    background-color: rgb(255, 54, 88);
    color: white;
}