/* *Basically this is for visualizing later */

table {
    border: 1px solid red;
}

tr {
    border: 1px solid blue;
}

td {
    border: 1px solid yellow;
}

div {
    border: 1px solid lime;
}


/* *INSERT ACTUAL CODE HERE */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('/Assets/Backgrounds/CC\ Entrance\ Background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

a {
    color: white;
}

#banner{
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 23, 0.8);
}

.logo-wrapper {
    height: 225px;
    width: 100%;
    text-align: center;
    line-height: 300px;
}

.nav-bar {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.nav-bar li{
    float: left;
    padding-left: 5%;
    padding-right: 60px;
    margin-top: 5px;

}

.button {
    padding-left: 20px;
    padding-right: 20px;
}

.content-wrapper {
    width: 95%;
    margin-left: 2%;
    text-align: center;
}

.inline {
    float: left;
}

.inline-right{
    float: right;
}

.margin20 {
    margin: 20px;
}
 
.details-wrapper {
    margin-top: 20px;
    margin-left: 20px;
}

.detail-image {
    width: 200px; 
    height: 200px;
}

img.teacher {
    width: 200px;
    height: 200px;
}

h1.a {
    font-size: 30px;
}

h1.b {
    font-size: 28px;
}

h1.c {
    font-size: 25px;
}

h2.a {
    font-size: 25px; color: #AFD3E2;
}

h2.b {
    font-size: 20px; color: #AFD3E2;
}

.detail-container {
    background-color: #120840; 
    width: 400px;
    height: 200px;
    line-height: 50px;
}

.card-container {
    background-color: white;
    height: 245px;
    width: 48%;
}

.row1 {
    border: 1px solid orange;
    height: 245px;
}

.row2 {
    border: 1px solid red;
    margin-top: 20px;
    height: 245px;
}
