/* *Basically this is for visualizing later */

/* table {
    border: 1px solid red;
}

tr {
    border: 1px solid blue;
}

td {
    border: 1px solid yellow;
}

div {
    border: 1px solid lime;
} */


/* *INSERT ACTUAL CODE HERE */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('/Assets/Backgrounds/CC\ Entrance\ Background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

a {
    color: white;
}

#banner{
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 23, 0.8);
}

.logo-wrapper {
    height: 225px;
    width: 100%;
    text-align: center;
    line-height: 300px;
}

.nav-bar {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100px;
}
.nav-bar li{
    display: inline-block;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 5px;
    height: 100px;
}

.button {
    padding-left: 20px;
    padding-right: 20px;
}

/* *Styles for the board */

.board-wrapper {
    width: 100%;
}
.board {
    width: 90%;
    margin-left: 4.5%;
    height: 275px;
}

.top-news {
    text-align: center;
}

.img-showcase {
    width: 200px;
    height: 200px;
}

.details-wrapper {
    background-color: #F1F6F9; 
    color: #120840;
    width: 100%;
}

.details-container {
    width: 80%;
    margin-left: 10%;
}

.details {
    list-style-type: circle;
}

.top-details, .bottom-details {
    padding: 10px;
}

.copyright {
    text-align: center;
    padding-bottom: 3px;
}
