
/* *INSERT ACTUAL CODE HERE */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('/Assets/Backgrounds/CC\ Entrance\ Background.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

a {
    color: white;
}

#banner{
    width: 100%;
    height: 300px;
    background-color: rgba(0, 0, 23, 0.8);
}

.logo-wrapper {
    height: 225px;
    width: 100%;
    text-align: center;
    line-height: 300px;
}

.nav-bar {
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}
.nav-bar li{
    float: left;
    padding-left: 5%;
    padding-right: 60px;
    margin: 0 auto;
    margin-top: 5px;

}

.button {
    padding-left: 20px;
    padding-right: 20px;
}


/* *INSERT CONTENT CSS */
.block-container {
    width: 90%;
    background-color: #F8F0E5; 
    color: #0F2C59; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

.center {
    margin: 0 auto;
}

.history-content {
    width: 95%;
    text-align: left;
}

.tri-column {
    width: 95%;
}

.column-content {
    display: inline-block;
    width: 400px;
    height: 425px;
    background-color: #F8F0E5; 
    color: #0F2C59; 
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
    text-align: left;
    padding: 10px;
}

.column-header {
    text-align: center;
}

.section-intro {
    width: 100%; 
    height: 400px; 
    background-color: white; 
    color: black;
}

.room-container {
    width: 90%;
    height: 400px;
    margin: 0 auto;
}

.room-image-container {
    float: left;
    width: 500px;
    height: 225px;
    margin: 50px auto;
}

.room-image {
    width: 500px;
}
.room-detail {
    float: left;
    width: 50%;
    height: 200px;
    margin: 50px auto;
    padding-left: 20px;
}


.apple {
    background-image: url('/Assets/Backgrounds/Apple\ Lab.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.float {
    float: left;
}

.center-this {
    margin-left: 15%;
}

.left-container-white {
    float: left;
    background-color: white; 
    width: 50%;
    height: 400px;
}

.right-container-transparent {
    display: inline-block;
    width: 50%;
    height: 400px;
}

.right-container-white {
    display: inline-block;
    background-color: white; 
    width: 50%;
    height: 400px;
}

.left-container-transparent {
    float: left;
    width: 50%;
    height: 400px;
}

.left-container-text {
    margin-top: 15%;
    text-align: center;
}

.right-container-text {
    margin-top: 15%;
    text-align: center;
}

h1.room-header {
    font-size: 50px;
}

p.room-preview {
    font-size: 25px;
}

h1.room-text-header-left-white {
    font-size: 30px; color: #03045e
}

p.room-text-left-white {
    font-size: 20px; color: #03045e
}

h1.room-text-header-right-transparent {
    font-size: 30px;
}

p.room-text-right-transparent {
    font-size: 20px;
}

h1.room-text-header-right-white {
    font-size: 30px; color: #03045e
}

p.room-text-right-white {
    font-size: 20px; color: #03045e
}

h1.room-text-header-left-transparent {
    font-size: 30px;
}

p.room-text-left-transparent {
    font-size: 20px;
}


.CCLobby {
    background-image: url('/Assets/Backgrounds/CC\ Lobby.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.CCLab {
    background-image: url('/Assets/Backgrounds/Computer\ Laboratories.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ATA {
    background-image: url('./Assets/Backgrounds/ATA\ Hall.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.UCS {
    background-image: url('./Assets/Backgrounds/UCS\ Building.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}